body {
  font-family: Arial, sans-serif;
  background-color: #fcb8b8;
  background-image: url('https://img.freepik.com/premium-photo/photo-watercolor-painting-alien-landscape_725906-209.jpg?w=740');
  background-size: cover;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  color: #fff;
  padding: 30px 40px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(225, 225, 225,0.2);
  text-align: center;
  background-color: #333;
  border-radius: 15px; 
}

h1 {
  color: #fff;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #fff;
}

input[type="number"] {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

p#result {
  font-size: 20px;
  color: #333;
}

a {
  display: block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

.back-button {
display: inline-block;
margin-top: 20px;
padding: 10px 20px;
background-color: #007bff;
color: #fff;
text-decoration: none;
border: none;
border-radius: 4px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.back-button:hover {
background-color: #0056b3;
}

footer {
  text-align: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: absolute;
  bottom: 0;
  width: 100%;
}